<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Weather Broadcast{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
        {% block body %}{% endblock %}
        <div style="background-color: #AAAAAA; margin: 50px 0px">
            <header>
                <h1 style="padding: 0; margin: 0; margin-top: 50px">Weather Broadcast Menu</h1>
            </header>
            <nav style="display: flex; flex-direction: column">
                <h2>Go to:</h2>
                <a href="{{ path('city_index') }}"> Locations </a>
                <a href="{{ path('measurement_index') }}"> Measurements </a>
            </nav>
        </div>
    </body>
</html>
